h1{color :purple}
p{color : blueviolet}
strong{
    color : red;
    text-decoration:underline;
    background-color : yellow;
    font : bold
}
body{
    background-image: url(../img/sky.jpg)
}
